@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gainsboro: #DCDCDC;
  --gold: #FFD700;
  --yellow-color: #FEB60D;
  --heading-color: #000000;
  --text-color: #000000;
  --card-bg: #FFFFFF;
}

body {
  background-color: var(--gainsboro);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif; /* O la fuente de tu preferencia */
