@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: var(--gainsboro);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif; /* O la fuente de tu preferencia */
