@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #DCDCDC; /* Gainsboro - Estilo Software DT */
  --foreground: #000000; /* HeadingColor */
  --gold: #FFD700;
  --yellow-color: #FEB60D;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* Clases de utilidad personalizadas para tu proyecto DroneDT */
.text-gold {
  color: var(--gold);
}

.bg-main {
  background-color: var(--background);
}