@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --gainsboro: #ffff;
  --gold: #FFD700;
  --yellow-color: #FEB60D;
  
  /* Paleta Inspirada en Tesla / DroneDT High-Tech */
  --primary: #061dcbe6;       /* Azul eléctrico tecnología */
  --secondary: #212121;     /* Fondo oscuro minimalista */
  --accent: #CC0000;        /* Rojo Tesla para alertas/vínculos */
  --neutral-light: #FAFAFA;
  --neutral-dark: #818181;
  
  /* Variables de aplicación */
  --background: var(--gainsboro);
  --foreground: #000000;
}

/* Soporte para Modo Oscuro Automático (Media) */
@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--secondary);
    --foreground: #FFFFFF;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Inter', Arial, Helvetica, sans-serif; /* Look más moderno */
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease;
}

/* Clases de utilidad personalizadas DroneDT */
.btn-tesla {
  @apply bg-[#212121] text-white px-6 py-2 rounded-md hover:bg-opacity-90 transition-all;
}

.text-gold {
  color: var(--gold);
}

.bg-primary-drone {
  background-color: var(--primary);
}