@import "tailwindcss";

@theme {
  /* Identidad de marca Drone DT */
  --color-gainsboro: #DCDCDC;
  --color-gold: #FFD700;
  --color-yellow-color: #FEB60D;
  --color-heading-color: #000000;
  --color-text-color: #000000;

  /* Mapeo de fondos para que bg-main y bg-card funcionen */
  --color-main: #DCDCDC;
  --color-card: #FFFFFF;
}

/* Base futurista estilo Tesla/SpaceX */
@layer base {
  body {
    /* Usamos las variables definidas en el tema */
    background-color: var(--color-main);
    color: var(--color-text-color);
    @apply antialiased min-h-screen transition-colors duration-300;
  }

  /* Scrollbar Minimalista Drone DT */
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--color-gold);
    border-radius: 10px;
  }
}

/* Componentes de Clase Mundial */
@layer components {
  .btn-primary {
    /* bg-gold y text-black se generan desde el theme */
    @apply bg-[--color-gold] text-black font-bold py-2 px-4 rounded-full hover:bg-[--color-yellow-color] transition-all active:scale-95 cursor-pointer;
  }
  
  .glass-panel {
    @apply bg-white/80 backdrop-blur-md border border-[--color-gainsboro] shadow-sm;
  }
}