@import "tailwindcss";

/* Configuración de Tema Estilo Drone DT / Tesla */
@theme {
  --color-gainsboro: #DCDCDC;
  --color-gold: #FFD700;
  --color-yellowColor: #FEB60D;
  --color-headingColor: #000000;
  --color-textColor: #000000;

  --background-main: #DCDCDC;
  --background-card: #FFFFFF;
}

/* Base futurista */
@layer base {
  body {
    /* Usamos las variables definidas arriba */
    background-color: var(--background-main);
    color: var(--color-textColor);
    @apply antialiased min-h-screen transition-colors duration-300;
  }

  /* Scrollbar Minimalista para el Admin */
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--color-gold);
    border-radius: 10px;
  }
}

/* Clases de Utilidad para el Dashboard */
@layer components {
  .btn-primary {
    @apply bg-gold text-black font-bold py-2 px-4 rounded-full hover:bg-yellowColor transition-all active:scale-95;
  }
  
  .glass-panel {
    @apply bg-white/80 backdrop-blur-md border border-gainsboro shadow-sm;
  }
}